.err > p {
  color: darkblue;
  font-weight: bolder;
  font-size: 24px;
  padding: 5px;
  border: 4px dashed darkblue;
  background-color: turquoise;
}

.comments {
  margin-left: 50px;
  padding: 10px;
  background-color: lightyellow;
  border: 5px solid lightgoldenrodyellow;
}

.msg {
  margin-top: 60px;
  padding: 10px;
  background-color: lightcyan;
  border: 5px solid lightseagreen;
}

#messages {
  /* margin-top: 30px; */
  padding: 10px;
}